In [1]:
import pandas as pd
import numpy as np

In [2]:
aDict = {'Nombres': ['Tom', 'Nick' , 'Jack'],
        'Age':[20,21,18]}

In [3]:
aDict['Nombres']

['Tom', 'Nick', 'Jack']

In [4]:
aDict['Nombres'][1]

'Nick'

In [5]:
aDataFrame = pd.DataFrame(aDict)
aDataFrame

  Nombres  Age
0     Tom   20
1    Nick   21
2    Jack   18

In [6]:
aDataFrame['Nombres']

0     Tom
1    Nick
2    Jack
Name: Nombres, dtype: object

In [7]:
aDataFrame['Age']

0    20
1    21
2    18
Name: Age, dtype: int64

In [8]:
aDataFrame[['Nombres','Age']]

  Nombres  Age
0     Tom   20
1    Nick   21
2    Jack   18

In [9]:
type(aDataFrame['Nombres'])

pandas.core.series.Series

In [10]:
type(aDataFrame[['Nombres','Age']])

pandas.core.frame.DataFrame

In [11]:
type(aDataFrame[['Nombres']])

pandas.core.frame.DataFrame

In [12]:
aDataFrame.set_index('Nombres',inplace=True)

In [13]:
aDataFrame.head()

         Age
Nombres
Tom       20
Nick      21
Jack      18

In [14]:
# importing pandas as pd
#import pandas as pd
 
# importing numpy as np
#import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
   
df

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0